<div class="modal" id="modalAddAlias" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Alias Objetivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-md-2"><label class="control-label">Alias: </label></div>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control" id="txtAlias" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModal">CERRAR</button>
                <button type="button" class="btn btn-primary" id="btnSave">GUARDAR</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#modalAddAlias").modal("show");

        $("#btnSave").click(function () {
            var datas = {
                nvarchar_alias: $("#txtAlias").val(),
                int_id_objetivo: $("#int_id_objetivo").val()
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddObjetivoAlias", "Objetivo")',
                data: datas,
                success: function (data) {
                    if (data.IsSuccess) {
                        swal({
                            title: "",
                            text: data.Message,
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: "Continuar",
                            closeOnConfirm: true,
                        },
                        function (isConfirm) {
                            $('#closeModal').trigger('click');
                            refreshAliasList();
                        });
                    }
                    if (data.IsSuccess == undefined) {
                        swal({
                            title: "Error",
                            text: "No tienes permisos para llevar a cabo esta acción. Favor de contactar al administrador",
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: "Continuar",
                            closeOnConfirm: true,
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                swal.close();
                            }
                        });
                    }
                }
            });
        });
    });
</script>