/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body {
 
  line-height: 26px;
  font-size: 14px;
  background-repeat: repeat;
  background-color: #ebebeb;
  color: #4d4d4d;
  font-weight: 400;
background: #fff;}


@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('../fonts/Raleway-ExtraLight.eot');
  src: url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
       url('../fonts/Raleway-ExtraLight.woff') format('woff'),
       url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
       url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg'),
       url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'raleway_regular';
    src: url('../fonts/raleway_regular.eot');
    src: url('../fonts/raleway_regular.eot') format('embedded-opentype'),
         url('../fonts/raleway_regular.woff2') format('woff2'),
         url('../fonts/raleway_regular.woff') format('woff'),
         url('../fonts/raleway_regular.ttf') format('truetype'),
         url('../fonts/raleway_regular.svg#raleway_regular') format('svg');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot');
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
       url('../fonts/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway-Medium.ttf') format('truetype'),
       url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot');
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway-Bold.ttf') format('truetype'),
       url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


.no-padding{
padding:0px;}

.row{
margin:0px;}

a {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
font-family: 'Raleway', sans-serif;}

a:hover, a:focus {
  text-decoration: none;
  outline: 0 !important; }

h1, h2, h3, h4, h5 {
  color: #363636;
  margin-top: 0px; 
}

.top-bar span {
    border-right: solid 1px #fff;
    padding-right: 10px;
    padding-left: 10px;

    font-size: 13px;
}
.top-bar .list-inline>li{
    padding-left: 0px;
}

.maincontainer{
    padding: 100px 0px 0px;
}

.border-image:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    z-index: 1;
    content: "";
    border: 1px solid #fff200;
    position: absolute;
    
}
.border-image:after {
    left: 5%;
    top: 5%;
    z-index: 1;
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-top: 6px solid #fff200;
    border-left: 6px solid #fff200;
    margin-left: -3px;
    margin-top: -3px;
}
.border-image span:after {
          right: 28px;
    bottom: 24px;
    z-index: 1;
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-right: 6px solid #fff200;
    border-bottom: 6px solid #fff200;
    margin-right: -3px;
    margin-bottom: -3px;
}

.top-bar {
  background-color: #060c17;
  color: #fff;
  padding: 5px 0; }

.top-bar ul {
  margin: 0px;
  padding: 0px; }

.top-bar ul li a {
  color: #fff; }

.top-bar ul li a:hover {
  color: #999; }

.header-transparent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999; }
  .header-transparent .top-bar {
    background-color: rgba(68, 14, 98, 0.36); }

.navbar-default {
  background-color: #fff;
  border: 0px;
  margin: 0px;
  position: relative;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4); }

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-weight: 700;
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px; }

.navbar-default .navbar-nav > li.active > a:after {
  content: "";
  width: 7px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  background: url(../images/v1-active.png) no-repeat; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #000;
  background-color: transparent; }

.navbar-brand {
  padding: 20px 15px; }

.top-search {
  width: 250px;
  padding: 10px 15px; }

.clients {
  padding: 30px 0;
  margin: 0px; }

.clients li {
  vertical-align: middle;
  padding: 10px 20px; }

.footer {
  padding: 50px 0;
  background-color: #060c17; }

.footer p {
  color: #647188; }

.footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff; }

.footer ul.f-nav li a {
  display: block;
  color: #fff; }

.footer ul.f-nav li a:before {
  content: "\f101";
  font-family: 'FontAwesome';
  margin-right: 6px; }

.news-list li img {
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  float: left;
  margin-right: 15px; }

.news-list h5 {
  margin: 0px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #fff; }

.news-list p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 16px; }

.news-list span {
  font-size: 12px;
  color: #333f55; }

.news-list li {
  padding-bottom: 20px; }

.footer-bottom {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); }

.footer-bottom ul {
  margin: 0;
  padding: 0; }

.footer-bottom ul li a {
  color: #999;
  font-size: 20px; }

.footer-bottom ul li a:hover {
  color: #333f55; }

.footer .col-md-3 {
  margin-bottom: 30px; }

.footer form {
  position: relative;
  margin-bottom: 20px; }

.footer form button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0px;
  background-color: #e8ca00;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: #000;
  font-size: 14px; }

.footer .form-control {
  border-radius: 0px;
  height: 40px;
  box-shadow: none;
  border: 0px; }

.banner-deal {
  padding-bottom: 100px;
  padding-top: 300px;
  background: url("../images/deals/bg1.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .banner-deal h1, .banner-deal h2, .banner-deal p {
    color: #fff; }
  .banner-deal p {
    font-size: 18px;
    width: 70%;
    margin: 0 auto; }
  .banner-deal h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize; }
  .banner-deal h2 {
    color: #e8ca00;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px; }
  .banner-deal form {
    margin-top: 30px; }
  .banner-deal .form-group {
    position: relative; }
    .banner-deal .form-group i {
      position: absolute;
      left: 10px;
      top: 12px;
      color: #999; }
    .banner-deal .form-group .form-control {
      padding-left: 30px;
      border-radius: 0px;
      height: 40px;
      border: 0px; }
  .banner-deal .btn {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px; }
    .banner-deal .btn i {
      margin-right: 9px; }
  .banner-deal h5 {
    color: #fff;
    margin-top: 20px;
    font-size: 18px; }

.btn-yellow {
  background: #e8ca00;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0px;
  -webkit-border-radius: 0px; }

.categories {
  background: #fff; }
  .categories h4 {
    padding: 12px 15px;
    font-weight: 700;
    margin: 0px; }
  .categories li a {
    position: relative;
    display: block;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #f5f5f5;
    padding-left: 60px;
    color: #777; }
    .categories li a i {
      position: absolute;
      height: 40px;
      width: 40px;
      display: block;
      text-align: center;
      line-height: 40px;
      background: #f5f5f5;
      color: #777;
      top: 0;
      left: 0; }
  .categories li.active a, .categories li a:hover {
    background: #f5f5f5; }
    .categories li.active a:before, .categories li.active a:after, .categories li a:hover:before, .categories li a:hover:after {
      left: 40px;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .categories li.active a:after, .categories li a:hover:after {
      border-color: rgba(66, 28, 82, 0);
      border-left-color: #421c52;
      border-width: 6px;
      margin-top: -6px; }
    .categories li.active a :before, .categories li a:hover :before {
      border-color: rgba(66, 28, 82, 0);
      border-left-color: #421c52;
      border-width: 12px;
      margin-top: -12px; }
    .categories li.active a i, .categories li a:hover i {
      color: #fff;
      background: #421c52; }

.slide-btm {
  padding: 15px 20px;
  background: #fff; }
  .slide-btm h1, .slide-btm .rating i {
    color: #421c52; }
  .slide-btm h1 {
    font-weight: 900;
    margin: 0px; }
  .slide-btm h4 {
    font-weight: 700;
    margin-bottom: 6px; }

.tag {
  display: inline-block;
  text-decoration: underline;
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500; }

.main-heading {
  padding: 15px 0px;
  background: #fff;
  margin-bottom: 60px; }
  .main-heading h1 {
    margin: 0px; }
  .main-heading a {
    color: #000;
    font-size: 20px;
    margin-top: 6px; }

.deal-box {
  margin-bottom: 30px; }
  .deal-box .deal-desc {
    padding: 25px 15px;
    background: #fff; }
    .deal-box .deal-desc h4 {
      color: #363636; }
    .deal-box .deal-desc span {
      text-transform: uppercase;
      font-size: 12px;
      display: block; }
    .deal-box .deal-desc .rating {
      color: #421c52;
      margin-bottom: 15px; }

.btn-border {
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px dashed #ec008c;
  color: #ec008c;
  font-size: 11px;
  border-radius: 0px;
  font-weight: 500; }
  .btn-border:hover {
    background: #ec008c;
    color: #fff; }

.coupon-thumb {
  background: #fff;
  padding: 20px 0;
  margin-bottom: 15px; }
  .coupon-thumb img {
    display: block;
    margin: 0 auto; }

.coupon-text {
  margin-bottom: 30px; }
  .coupon-text h5 {
    margin-bottom: 10px; }
  .coupon-text .rating {
    margin-bottom: 15px; }

.space-70 {
  height: 70px; }

.ms-slide .ms-layer, .ms-fixed-layers .ms-layer {
    position: absolute;
    pointer-events: auto;
}

.text7 {
    color: #fff;
    font-size: 15px;
}
.full-wid {
    width: 100%;
    text-align: center;
}
.text6 {
    color: #fff;
    font-weight: 900;
    font-size: 60px;
}
.text6 {
    color: #fff;
    font-weight: 900;
    font-size: 60px;
}
.btn-blue {
    background-color: #ed1c24;
    color: #fff;
    border-radius: 0px;
}
.btn-yellow {
    background-color: #00a651;
    color: #333;
    border-radius: 0px;
}

/*--index20 css start Here--*/
.features {
  padding-bottom: 40px; }

.feature-box {
  background: #e7ca00;
  position: relative;
    margin-top: -228px;
  overflow: hidden;
  margin-bottom: 50px; }

.feature-thumb {
  border-top: 10px solid #003471;
  border-left: 10px solid #003471;
  border-right: 10px solid #003471;
  position: relative;
  overflow: hidden; }

.feature-desc {
  padding: 25px 20px;
  transform: skewY(9deg);
  -webkit-transform: skewY(9deg);
  margin-top: -28px;
  border-top: 10px solid #003471;
  background: #e7ca00;
  padding-top: 35px; }
  .feature-desc h4 {
    color: #003471;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .feature-desc h4:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80px;
      height: 3px;
      background: #e8ca00; }
  .feature-desc h4, .feature-desc p, .feature-desc a {
    transform: skewY(-9deg);
    -webkit-transform: skewY(-9deg); }
  .feature-desc a {
    display: inline-block;
    margin-top: 15px;
  text-decoration: underline;
  font-size: 13px;
   color: #363636;}
  .feature-desc p, .feature-desc a {
    color: #363636; 
  font-size: 13px;}
  .feature-desc a:hover {
    text-decoration: underline; }

  .feature-desc h4:after{
      position: absolute;
      content: "" ;
      border-bottom: solid 2px #003471;
      width: 70px;
      height: 4px;
      top: 25px;
      right: 0;
      left: 0;
  }

  .why-choose{
      background: #003471 url(../images/architecture/texture.png) repeat-x;
      padding: 100px 0px;
      background-size: cover;
  }
  
  
.choose-head{  padding: 13px;
    border: dashed 1px #fff;
    left: 0px;
    padding-left: 250px;
    right: 500px;
    bottom: auto;
    border-left: none;
    }
  .choose-head h3{
        font-family: 'Raleway-Bold';
        color: #e7ca00;
        font-size: 32px;
  }
  .choose-head p{
font-family: 'raleway_regular';
        color: #949dae;
        font-size: 13px;
            padding-top: 20px;
  }
  .why-choose .feature-box{
      background: none;
      margin-top:45px;
      margin-bottom: 0px;
      color: #fff;
  }
.why-choose .feature-box i {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    background: #fff;
    line-height: 60px;
        font-size: 24px;
    color: #363636;
    margin-right: 20px;
}
.why-choose .feature-box h3 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
.why-choose .feature-box p{
      font-family: 'Raleway-Medium';
      font-size: 13px;
    color: #949dae;
        line-height: 24px;
}
.why-choose .overflo-h{
    overflow: hidden;
}
  
.architecture-service{
    padding: 100px 0px 0px;
        border-bottom: none;
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
}
  
.service-head{
    background: url(../images/heading-bg.png) center top no-repeat;
}
.service-head h4{
    font-family: 'Raleway-Bold';
    color: #363636;
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 30px;
text-align: center;
    
}
.architecture-service .nav-tabs {
    border-bottom: none;
        margin-top: 50px;
}
.architecture-service .nav-tabs>li {
    margin-right: 30px;
        border: solid 1px #003471;
padding: 15px 42px;
    transition: all 0.85s;
}

.architecture-service .nav>li>a>img{
    padding-bottom: 6px;
    margin: 0 auto;
}
.architecture-service .nav>li>a:focus, .nav>li>a:hover{
    background: none;
    border: none;
}
.architecture-service .nav-tabs>li>a{
    font-family: 'Raleway-Medium';
      font-size: 16px;
    color: #003471;
     border: none;
    
}
.architecture-service .tab-content.g-pt-70{
    margin-top: 60px;
}
.architecture-service .archi-tab{

}
.architecture-service .archi-tab h2{
    font-family: 'Raleway-Bold';
    color: #003471;
    font-size: 32px;
    padding-bottom: 0px;
}
.architecture-service .archi-tab p{
    color: #7b7b7b;
    font-family: 'Raleway-Medium';
      font-size: 13px;
      padding-top: 20px;
}


.our-partners.wow.animated.fadeInUp.animated {
    background: #ebebeb;
}
.architecture-service .ui-widget-content{
    background: none;
    height: auto;
}

.architecture-service section{
    padding: 0px;
    border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: inherit;
}


/*our-project*/
section.Architech-project {
    border-bottom: 0px;
}
.Architech-project{
    padding: 100px 0px 0px;
}
.portfolio-box.iso-call.work-col-3 {
}
.work-col-3 .project-post {
  padding: 0px;
  width: 25%;
  float: left; }

.work-box {
  position: relative;
  display: block;
  overflow: hidden; }
  .work-box .work-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0078ff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0078ff 100%, #00c2ff 55%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0078ff 100%, #00c2ff 55%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0078ff 100%, #00c2ff 55%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078ff', endColorstr='#00c2ff',GradientType=1 );
    /* IE6-9 */
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    opacity: 0; }
    .work-box .work-overlay span {
      display: block;
      background-image: url(../images/personal/plus.png);
      background-repeat: no-repeat;
      width: 108px;
      height: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -54px;
      z-index: 1; }
  .work-box:hover .work-overlay {
    opacity: 1; }
  .Architech-project .service-head{
      margin-bottom: 60px;
  }
  
  /*team-members*/
  
section.arch-member {
    padding: 0px;
    border-bottom: 0px;
}
section.arch-member .service-head {
    text-align: center;
    margin-bottom:50px;
    margin-top: 100px;
}
section.arch-member .service-head p{
    color: #949dae;
    font-family: 'Raleway-Medium';
    font-size: 13px;
    padding-top: 30px;
} 

.member-overlay{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    left: 0;
    right: 0;
    text-align: center;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;
overflow: hidden;
position: relative;
}
.overlay-content{
     background: #e7ca00;
    border-radius: 20px;
    border: solid 8px #fff;
    text-align: center;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    width: 100%;
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 0;
    padding: 15px;
    transition: all 0.4s;
    z-index: 1;
}
.overlay-content:hover{
    opacity: 1;
}
.overlay-content h3{
    font-family: 'Raleway-Bold';
    font-size: 16px;
    color: #363636;
}
.overlay-content span{
 color: #363636;
    font-family: 'Raleway-Medium';
    font-size: 13px;
}

.overlay-content p{
 color: #363636;
    font-family: 'Raleway-Medium';
    font-size: 13px;
    padding-top: 15px;
    border-top: solid 2px #7a6b00;

}
.overlay-content ul{
    padding: 10px 0px 0px;
        text-align: center;
    display: inline-block;
}
  
.overlay-content ul li{
   float: left;
   list-style: none;
}  
.overlay-content ul li a{
    color: #363636;
}
.overlay-content ul li a i{
    font-size: 20px;
        margin-right: 15px
}
.section-circle {
    padding: 90px 0;
    padding-bottom: 60px;
    background: url(../images/architecture/circle.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}
.circle-box {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    margin-bottom: 10px;
    color:#fff;
    text-align: center;
    line-height: 170px;
    font-size: 28px;
    font-weight: 700;
    background: url(../images/architecture/yellow-circle.png) no-repeat;
}

.section-circle span {
    text-transform: capitalize;
    display: block;
      color:#fff;
    margin-top: 5px;
}
section.Architecture-letest{
    padding: 100px 0px;
    background: #ebebeb;
    border-bottom: none;
}
.news-box.text-center {
    margin-top: 40px;
}
section.Architecture-letest .service-head p {
    color: #949dae;
    font-family: 'Raleway-Medium';
    font-size: 13px;
    text-align: center;
    padding-top: 50px;
}
section.Architecture-letest .news-desc {
    padding: 30px 20px;
}
section.Architecture-letest .news-desc h4{
   font-family: 'Raleway-Bold';
    font-size: 16px;
    color: #363636; 
}

section.Architecture-letest .news-desc p{
    font-family: 'Raleway-Medium';
    font-size: 13px;
        padding-top: 17px;
        margin-bottom: 30px;
    color: #7b7b7b; 
}
section.Architecture-letest .news-desc h5{
     font-family: 'Raleway-Bold';
    font-size: 13px;
    color: #363636;
}
section.Architecture-letest .news-desc ul li {
    line-height: 16px;
    border-right: 1px solid #9e9e9e;
    padding: 0px 10px;
    color: #7b7b7b ;
  font-family: 'Raleway-Regular';
    font-size: 13px;
}
.testimonials{
    padding: 90px 0 0px
}

.testimonials .service-head {
    background: url(../images/heading-bg.png) no-repeat;
    height: 80px;
        margin-bottom: 50px;
}
.testimonials .service-head h4{
    text-align: left;
        padding-left: 23px;
}
.testi-wrapper{
    background: #003471;
}
.testimonials .flexslider{
background: none;
    margin: 70px 0 35px;
    border: none;
    color: #fff;
    text-align: center;
}
.testimonials .open-image {
    margin-top: -110px;
}
.testimonials .flexslider small{
        color: #949dae;
}
.testimonials .flexslider h5{
         color: #fff;
}

/*about-architecture css start Here*/
.about-architecture .header-transparent{
    position: relative;
}
.about-architecture{
    background: url(../images/architecture/about-banner.jpg) no-repeat;
        background-size: cover;
padding: 100px 0 0px;
}
.about-architecture h5{
    color: #e7ca00;
    padding-top: 130px;
    font-size: 72px;
    font-family: 'Raleway-Bold';
    font-weight: 900;
}
.about-architecture .breadcrumb {
    padding: 10px 0px;
    list-style: none;
    background: none;
}
.about-architecture .breadcrumb>li{
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'Raleway-Medium';
    font-size: 16px;
}

.about-architecture .breadcrumb i{
    color: #fff;
    font-size: 14px;
        padding-left: 10px;
    padding-right: 10px;
}

section.faq{
    padding: 0px;
    border: 0px;
}
.faq-left{
    padding: 0px;
}
.faq-left h3{
    color: #003471;
    font-size: 32px;
    font-family: 'Raleway-Bold';
    margin-bottom: 35px;
}
.faq-left p{
    color: #363636;
    font-size: 16px;
     font-family: 'Raleway-Medium';
}
.faq-left span{
      color: #7b7b7b;
    font-size: 13px;
     font-family: 'Raleway-Medium';
     margin-bottom: 30px;
}
section.faq .panel-group {
    margin-bottom: 0px;
    margin-top: 40px;
}
section.faq .pageAccordian .panel-default{
    border: 1px #003471 dotted;
}
section.faq .pageAccordian .panel-heading .panel-title a.accordion-toggle {
    background: none;
    color: #003471;
    font-size: 16px;
    font-family: 'Raleway-Bold';
    padding: 20px;
    
}
section.faq .pageAccordian .panel-heading .panel-title {
    text-transform: capitalize;
    background: #ebecf0;
    height: 58px;
}
section.faq .pageAccordian .panel-heading .panel-title a i {
    right: 10px;
    position: absolute;
    font-size: 13px;
    top: 14px;
    width: 33px;
    background: #e7ca00;
    height: 30px;
    text-align: center;
    line-height: 33px;
}
section.faq .pageAccordian .panel-default > .panel-heading + .panel-collapse .panel-body{
    border: none;
    color: #7b7b7b;
    font-size: 13px;
     font-family: 'Raleway-Medium';
     padding: 22px;
}
.faq-right {
    padding-top: 54px;
    overflow: hidden;
}
section.faq .feature-box{
    margin-top: 80px;
    margin-bottom: 0px;

}
section.faq .features{
    padding-bottom: 120px;
}
/*service page css start Here*/

.service-group{
    padding: 0px;
}
.service-group .architecture-service{
    padding: 0px;
    box-shadow: none;
}
.service-group .testimonials{
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.4);
}
.service-group  .testimonials .open-image{
    margin-top: -61px;
}

/*media query*/
@media(max-width:1199px){
    .features .feature-box{
        margin-bottom: 50px;
    }
    .about-text {
    padding: 25px 0px;
}
.menu-item__img{
    height: 100%;
}
.architecture-service .nav-tabs>li {
    margin-right: 18px;
    padding: 15px 28px;
}
.working-women {
    padding-top: 48px;
}
section.Architecture-letest {
    padding: 100px 0px 0;
}
.clients li {
    padding: 10px 6px;
}
.about-panel img{
    height: 100%;
}
.about-panel .border-image span:after{
        right: 24px;
    bottom: 26px;
}
.view-dish .special-right h3{
    font-size: 40px;
}
.view-dish a{
        padding: 5px 15px;
}
.choose-head{
    padding-left: 140px;
}
.faq-right{
    padding-top: 175px;
}
}
@media(max-width:991px){
    
    .navbar-brand>img {
    margin-top: -13px;
}
.border-image img{
    width: 100%;
}
.border-image span:after{
        margin-right: 4px;
    margin-bottom: 3px;
}
.price-tag{
    right: 160px
}
.heading-v20__para{
    font-size: 12px;
}
.event img{
    width: 100%;
}
section.letest-event p{
    font-size: 12px;
}
.top-bar span {
    padding-right: 3px;
    padding-left: 0px;
    font-size: 12px;
}
.about-panel .about-text{
    padding: 30px 0px 0px;
}
.view-dish .price-tag{
    top: 0;
}
.our-team p{
    font-size: 12px;
}
.our-team h3:after{
    top: 48%;
}
.our-team{
    padding-bottom: 50px;
}
.architecture-service .nav-tabs>li {
margin-right: 15px;
    padding: 15px 13px;
}
.member-overlay img{
    width: 100%;
}
.testimonials .open-image{
    margin-top: 0px;
}
.working-women {
    padding-top: 181px;
}
section.faq .features {
    padding-bottom: 50px;
}
}

@media(max-width:767px){
    .about-panel .border-image span:after {
    right: 29px;
    bottom: 26px;
}
.about-panel {
    padding-bottom: 40px;
}
.our-partners.wow.animated.fadeInUp.animated .list-inline>li{
      padding-left: 25px;
    padding-right: 25px;
}
.feature-thumb img{
    width: 100%;
}
.feature-box{
    margin-top: 0px;
}
.feature-desc p, .feature-desc a{
    padding-top: 22px;
}
.choose-head{
    padding-left: 20px;
    right: 0px;
}
.feature-desc{
    margin-top: -54px;
    padding-top: 0px;
}
.working-women{
    padding-top: 0px;
}

.service-head h4{
    font-size: 25px;
}
.work-box .work-overlay span{
    width: 56px;
    height: 56px;
    background-size: cover;
    left: 63%;
    top: 70%;
}
.news-box.text-center {
    margin-top:40px;
}
.faq-right img{
    width: 100%;
}
.about-architecture h5{
    font-size: 43px;
}
.why-choose .feature-box i{
    float: none;
        margin-bottom: 15px;
}
.architecture-service .nav-tabs>li {
    margin-right: 14px;
    padding: 15px 13px;
}
.nav>li>a {
    padding: 0px 0px 0;
}
.top-bar span.last-child {
    border: none;
}
.service-group  .testimonials .open-image{
    margin-top: 0px;
}
}
@media(max-width:480px){
    .feature-desc p, .feature-desc a {
    padding-top: 0px;
}
.feature-desc h4, .feature-desc p, .feature-desc a {
    margin-top: 15px;
}
section.faq .feature-box{
    margin-top: 30px;
}
.feature-desc h4:after{
    top: 35;
}
.maincontainer{
   padding: 50px 0 0px; 
}
.architecture-service{
    padding: 50px 0 0px;
}
.Architech-project{
    padding-bottom: 0px;
}
.service-head h4{
    font-size: 21px;
}
.choose-head h3{
    font-size: 24px;
}
.nav-tabs>li{
    float: none;
}
.architecture-service .nav-tabs>li{
    margin-bottom: 20px;
}
section.Architecture-letest .news-desc ul li{
    border: none;
}
.work-box .work-overlay span {
    width: 50px;
    height: 50px;
    background-size: cover;
    left: 71%;
    top: 81%;
}
section.faq .pageAccordian .panel-heading .panel-title a.accordion-toggle{
    font-size: 15px;
}
.top-bar span.last-child {
    border: none;
}
.top-bar span.last-child {
    border: none;
}
.top-bar ul.list-inline {
    width: 100%;
}
}
