<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


	  <add key="PersonasInteres.RutaShare" value="\\258fgea.pgj.gob\Fotos_FiliacionMunicipal$" />
	  <add key="PersonasInteres.RutaBaseArchivos" value="\\258fgea.pgj.gob\Fotos_FiliacionMunicipal$\PersonasInteres" />
	  <add key="PersonasInteres.UsuarioRed" value="IIS_REGISTROMUNICIPAL" />
	<add key="PersonasInteres.PasswordRed" value="r244#k9EQ@Dt" />
	<add key="PersonasInteres.DominioRed" value="pgj.gob" />
	  <add key="BiometriaApiUrl"
		   value="http://localhost:5146/api/busqueda-biometrica/buscar" />

	  <!--<add key="BiometriaApiUrl" value="https://intranet.fgeags.gob.mx/WebApiC5/api/busqueda-biometrica/buscar" />-->
	  <add key="BiometriaApiToken" value="SIPJ-C5-2026#Oficios@AEIC" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="51200" executionTimeout="300" />
  </system.web>
  <system.webServer>
	  <modules runAllManagedModulesForAllRequests="true" />

	  <handlers>
		  <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		  <remove name="OPTIONSVerbHandler" />
		  <remove name="TRACEVerbHandler" />
		  <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	  </handlers>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength está en BYTES -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.6" newVersion="8.0.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WinHttpHandler" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--<add name="FiliacionEntities"
       connectionString="metadata=res://*/Models.Filiacion.csdl|res://*/Models.Filiacion.ssdl|res://*/Models.Filiacion.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;data source=QA-FGEA\SQL2019;
         initial catalog=Filiacion;
         user id=intranet_objetivos;
         password=leonardo98;
         trustservercertificate=True;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />-->
		  <!-- ========================================================= -->
		  <!-- QA / PRUEBAS - SERVIDOR: QA-FGEA\SQL2019                 -->
		  <!-- ========================================================= -->

		  <!--<add name="Objetivos_PrioritariosEntities" connectionString="metadata=res://*/Models.ObjetivosPrioritarios.csdl|res://*/Models.ObjetivosPrioritarios.ssdl|res://*/Models.ObjetivosPrioritarios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=Objetivos_Prioritarios;user id=intranet_objetivos;password=leonardo98;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		  <add name="CatalogosEntities" connectionString="metadata=res://*/Models.Catalogos.csdl|res://*/Models.Catalogos.ssdl|res://*/Models.Catalogos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=Catalogos;user id=intranet_objetivos;password=leonardo98;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		  <add name="SIPJEntities" connectionString="metadata=res://*/Models.SIPJ.csdl|res://*/Models.SIPJ.ssdl|res://*/Models.SIPJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=SIPJ;user id=intranet_objetivos;password=leonardo98;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		  <add name="FiliacionEntities" connectionString="metadata=res://*/Models.Filiacion.csdl|res://*/Models.Filiacion.ssdl|res://*/Models.Filiacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=Filiacion;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		  <add name="Filiacion_MunicipiosEntities" connectionString="metadata=res://*/Models.FiliacionMunicipal.csdl|res://*/Models.FiliacionMunicipal.ssdl|res://*/Models.FiliacionMunicipal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=Filiacion_Municipios;persist security info=True;user id=App_Web_Api_Test;password=D3V3LOP3r#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		  <add name="fiscalia_webEntities" connectionString="metadata=res://*/Models.FiscaliaWeb.csdl|res://*/Models.FiscaliaWeb.ssdl|res://*/Models.FiscaliaWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=fiscalia_web;persist security info=True;user id=App_Web_Api_Test;password=D3V3LOP3r#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		  <add name="Mandamientos_JudicialesEntities" connectionString="metadata=res://*/Models.Mandamientos.csdl|res://*/Models.Mandamientos.ssdl|res://*/Models.Mandamientos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QA-FGEA\SQL2019;initial catalog=Mandamientos_Judiciales;user id=App_Web_Api_Test;password=D3V3LOP3r#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


		  <!-- ========================================================= -->
		  <!-- PRODUCCIÓN - SERVIDOR: 243fgea\bdfgea                    -->
		  <!-- PARA USARLAS, COMENTA QA Y DESCOMENTA ESTE BLOQUE         -->
		  <!-- ========================================================= -->

		   <add name="Objetivos_PrioritariosEntities" connectionString="metadata=res://*/Models.ObjetivosPrioritarios.csdl|res://*/Models.ObjetivosPrioritarios.ssdl|res://*/Models.ObjetivosPrioritarios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=243fgea\bdfgea;initial catalog=Objetivos_Prioritarios;user id=Usr_ObjetivosPrioritarios;password=7FpjMAC4s&amp;Eo;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 

		   <add name="CatalogosEntities" connectionString="metadata=res://*/Models.Catalogos.csdl|res://*/Models.Catalogos.ssdl|res://*/Models.Catalogos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=243fgea\bdfgea;initial catalog=Catalogos;user id=Usr_ObjetivosPrioritarios;password=7FpjMAC4s&amp;Eo;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 

		   <add name="SIPJEntities" connectionString="metadata=res://*/Models.SIPJ.csdl|res://*/Models.SIPJ.ssdl|res://*/Models.SIPJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=243fgea\bdfgea;initial catalog=SIPJ;user id=Usr_ObjetivosPrioritarios;password=7FpjMAC4s&amp;Eo;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 

		   <add name="Mandamientos_JudicialesEntities" connectionString="metadata=res://*/Models.Mandamientos.csdl|res://*/Models.Mandamientos.ssdl|res://*/Models.Mandamientos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=243fgea\bdfgea;initial catalog=Mandamientos_Judiciales;user id=Usr_ObjetivosPrioritarios;password=7FpjMAC4s&amp;Eo;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 

		   <add name="FiliacionEntities" connectionString="metadata=res://*/Models.Filiacion.csdl|res://*/Models.Filiacion.ssdl|res://*/Models.Filiacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=243fgea\bdfgea;initial catalog=Filiacion;user id=Usr_ObjetivosPrioritarios;password=7FpjMAC4s&amp;Eo;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 

	       <add name="Filiacion_MunicipiosEntities" connectionString="metadata=res://*/Models.FiliacionMunicipal.csdl|res://*/Models.FiliacionMunicipal.ssdl|res://*/Models.FiliacionMunicipal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=243fgea\bdfgea;initial catalog=Filiacion_Municipios;user id=Usr_RegistroMunicipal;password= DY9hJ!70KrE#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		   <add name="fiscalia_webEntities" connectionString="metadata=res://*/Models.FiscaliaWeb.csdl|res://*/Models.FiscaliaWeb.ssdl|res://*/Models.FiscaliaWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLRED;initial catalog=fiscalia_web;user id=fiscweb;password= @M7nP8T4@;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


		  <!-- PRODUCCIÓN PENDIENTE: Filiacion_MunicipiosEntities -->
		  <!-- PRODUCCIÓN PENDIENTE: fiscalia_webEntities -->

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>